.prod__img{
    width: 200px;
    height: 200px;
}

.table{
    width: 100%;
    margin: 20px 30px;
    border-collapse: collapse;
}

.title{
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

td, th {
    border: 1px solid #999;
    padding: 10px;
}

.carg__to_favorite {
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.active{
    fill:red;
}